# Data Inputs and Display Libraries

In [ ]:

import pandas as pd
import numpy as np

pd.set_option('display.float_format', lambda x: '%.5f' % x)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# EDA Libraries

# Data Preprocessing Libraries

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.preprocessing import OrdinalEncoder

# Feature Selection & Modeling Libraries

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectPercentile, f_classif
import pickle

In [ ]:
# Accessing the data
!wget "https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/datasets.rar" 
!wget "https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/prep_file.rar" 
!wget "https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/num_cols.csv" 
!wget "https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/str_cols.csv" 

#unziping the rar
!unrar x './datasets.rar'
!unrar x './prep_file.rar'

--2022-03-10 06:25:06--  https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/datasets.rar
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/datasets.rar [following]
--2022-03-10 06:25:07--  https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/datasets.rar
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3508143 (3.3M) [application/octet-stream]
Saving to: ‘datasets.rar’

datasets.rar        100%[===================>]   3.34M  --.-KB/s    in 0.1s

2022-03-10 06:25:07 (31.3 MB/s) - ‘datasets.rar’ saved [3508143/3508143]

--2022-03-10 06:25:07--  https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/prep_file.rar
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/prep_file.rar [following]
--2022-03-10 06:25:07--  https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/prep_file.rar
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 954088 (932K) [application/octet-stream]
Saving to: ‘prep_file.rar’

prep_file.rar       100%[===================>] 931.73K  --.-KB/s    in 0.06s

2022-03-10 06:25:08 (15.6 MB/s) - ‘prep_file.rar’ saved [954088/954088]

--2022-03-10 06:25:08--  https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/num_cols.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/num_cols.csv [following]
--2022-03-10 06:25:08--  https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/num_cols.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 95 [text/plain]
Saving to: ‘num_cols.csv’

num_cols.csv        100%[===================>]      95  --.-KB/s    in 0s

2022-03-10 06:25:08 (3.70 MB/s) - ‘num_cols.csv’ saved [95/95]

--2022-03-10 06:25:08--  https://github.com/univai-ghf/ghfmedia/raw/main/data/Trees_and_Ensembles/str_cols.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/str_cols.csv [following]
--2022-03-10 06:25:08--  https://raw.githubusercontent.com/univai-ghf/ghfmedia/main/data/Trees_and_Ensembles/str_cols.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 82 [text/plain]
Saving to: ‘str_cols.csv’

str_cols.csv        100%[===================>]      82  --.-KB/s    in 0s

2022-03-10 06:25:08 (2.62 MB/s) - ‘str_cols.csv’ saved [82/82]


UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from /content/datasets.rar

Extracting  y_train1                                                       0%  OK
Extracting  df_all_test2                                                   1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33%  OK
Extracting  df_all_train2                                                 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%  OK
Extracting  sel_cols                                                      99%  OK
Extracting  y_test1                                                       99%  OK
All OK
/bin/bash: -c: line 0: unexpected EOF while looking for matching `''
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [ ]:
#t1 = pd.read_csv("./prep_file.csv",sep=",")

t1 = pd.read_csv("./prep_file.csv")

# Step 1-  Look at the data

In [ ]:
t1.head()

,Unnamed: 0,income,age,experience,bureau_score,married,house_ownership,car_ownership,risk_flag,profession,city,state,current_job_years,current_house_years,device
0,19607,2514921,31.00000,4.00000,651.00000,single,rented,no,0,Psychologist,Chandrapur,Maharashtra,4.00000,14.00000,Oppo
1,75516,7047674,28.00000,4.00000,526.00000,single,rented,yes,0,Economist,Ramagundam[27],Telangana,3.00000,13.00000,Xiaomi
2,63804,2749317,30.00000,2.00000,526.00000,single,rented,no,0,Secretary,Ramagundam[27],Telangana,2.00000,14.00000,samsung
3,63676,7378274,24.00000,0.00000,764.00000,single,rented,no,0,Flight attendant,Adoni,Andhra Pradesh,0.00000,11.00000,samsung
4,50914,9574585,27.00000,5.00000,739.00000,single,rented,yes,0,Technician,Imphal,Manipur,5.00000,10.00000,Vivo

In [ ]:
t1.columns

Index(['Unnamed: 0', 'income', 'age', 'experience', 'bureau_score', 'married',
       'house_ownership', 'car_ownership', 'risk_flag', 'profession', 'city',
       'state', 'current_job_years', 'current_house_years', 'device'],
      dtype='object')

# Look at data - now to get the target variable distribution

In [ ]:
t1["risk_flag"].value_counts()

0    236567
1     43433
Name: risk_flag, dtype: int64

In [ ]:
t1["risk_flag"].value_counts(normalize=True)

0   0.84488
1   0.15512
Name: risk_flag, dtype: float64

# Look at data - listing string and numeric columns

In [ ]:
#String Columns
str_col_name_df = pd.read_csv("./str_cols.csv")
str_col_name_df.columns = ["index","col_name"]
str_col_name_list =list(str_col_name_df["col_name"])

#Numeric Columns
num_col_name_df = pd.read_csv("./num_cols.csv")
num_col_name_df.columns = ["index","col_name"]
num_col_name_df=num_col_name_df.reset_index()
num_col_name_list = list(num_col_name_df["col_name"])

In [ ]:
print (str_col_name_list)
print (num_col_name_list)

['profession', 'married', 'house_ownership', 'car_ownership', 'city', 'state']
['income', 'age', 'experience', 'current_job_years', 'current_house_years', 'bureau_score']

In [ ]:
t0 = t1.copy()
for i in str_col_name_list:
    t1[i] = t1[i].str.lower().str.lstrip().str.rstrip()
    t1[i] = t1[i].str.replace("[^a-z\s]+","")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

# Train-Test Split
### Before we do any preprocessing we want to keep train and test separate

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(t1, t1["risk_flag"], test_size=0.33, random_state=42)

In [ ]:
x_train0 = x_train.reset_index()
x_test0 = x_test.reset_index()

In [ ]:
x_train0.shape, x_test0.shape

((187600, 16), (92400, 16))

#One-Hot Encoding Categorical Features and Label Encoding Target Variable -- baseline categorical approach

In [ ]:


enc = OneHotEncoder(handle_unknown='ignore')
df_one_hot_tr = pd.DataFrame(enc.fit_transform(np.array(x_train0[str_col_name_list])).todense())
df_one_hot_te = pd.DataFrame(enc.transform(np.array(x_test0[str_col_name_list])).todense())
colnames = enc.get_feature_names()

df_one_hot_tr.columns = colnames
df_one_hot_te.columns = colnames

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
viz1 = df_one_hot_tr.head()
viz1 = viz1.astype(int)
viz1.columns = colnames
viz1

,x0_air traffic controller,x0_analyst,x0_architect,x0_army officer,x0_artist,x0_aviator,x0_biomedical engineer,x0_chartered accountant,x0_chef,x0_chemical engineer,...,x5_puducherry,x5_punjab,x5_rajasthan,x5_sikkim,x5_tamil nadu,x5_telangana,x5_tripura,x5_uttar pradesh,x5_uttarakhand,x5_west bengal
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(x_train0[num_col_name_list])

x_train_num = pd.DataFrame(imp_mean.transform(x_train0[num_col_name_list]))
x_test_num = pd.DataFrame(imp_mean.transform(x_test0[num_col_name_list]))

x_train_num.columns = num_col_name_list
x_test_num.columns = num_col_name_list

SimpleImputer()

# Concatenating Numeric and Categorical Features

In [ ]:
df_all_train1 = pd.concat([df_one_hot_tr,x_train_num],axis=1)
df_all_test1 = pd.concat([df_one_hot_te,x_test_num],axis=1)

In [ ]:
all_cols = list(colnames) + num_col_name_list

In [ ]:
##back to presentation

In [ ]:

le = preprocessing.LabelEncoder()
y_train1 = le.fit_transform(y_train)
y_test1 = le.transform(y_test)

:

In [ ]:
#Feature selection

selector = SelectPercentile(f_classif, percentile=60)
selector.fit(df_all_train1, y_train1)
df_all_train2 = selector.transform(df_all_train1)
df_all_test2 = selector.transform(df_all_test1)

SelectPercentile(percentile=60)

In [ ]:
df_all_train1.shape, df_all_train2.shape

((187600, 408), (187600, 245))

In [ ]:
columns_flag = selector.get_support()
#sel_cols = all_cols[columns_flag==True]
sel_cols =[]
for num,i in enumerate(all_cols):
    if (columns_flag[num]==True):
        sel_cols.append(i)

In [ ]:
sel_cols

['x0_air traffic controller',
 'x0_analyst',
 'x0_army officer',
 'x0_artist',
 'x0_chef',
 'x0_civil engineer',
 'x0_comedian',
 'x0_computer operator',
 'x0_dentist',
 'x0_design engineer',
 'x0_drafter',
 'x0_economist',
 'x0_firefighter',
 'x0_flight attendant',
 'x0_graphic designer',
 'x0_industrial engineer',
 'x0_lawyer',
 'x0_librarian',
 'x0_magistrate',
 'x0_mechanical engineer',
 'x0_petroleum engineer',
 'x0_physician',
 'x0_police officer',
 'x0_politician',
 'x0_psychologist',
 'x0_scientist',
 'x0_secretary',
 'x0_surveyor',
 'x0_technical writer',
 'x0_technician',
 'x0_web designer',
 'x1_married',
 'x1_single',
 'x2_norentnoown',
 'x2_owned',
 'x2_rented',
 'x3_no',
 'x3_yes',
 'x4_agartala',
 'x4_agra',
 'x4_aizawl',
 'x4_akola',
 'x4_alappuzha',
 'x4_allahabad',
 'x4_alwar',
 'x4_ambala',
 'x4_amravati',
 'x4_anantapuram',
 'x4_arrah',
 'x4_asansol',
 'x4_aurangabad',
 'x4_avadi',
 'x4_ballia',
 'x4_barasat',
 'x4_bathinda',
 'x4_begusarai',
 'x4_belgaum',
 'x4_bellary',
 'x4_berhampore',
 'x4_bhagalpur',
 'x4_bhalswa jahangir pur',
 'x4_bhatpara',
 'x4_bhilwara',
 'x4_bhimavaram',
 'x4_bhind',
 'x4_bhopal',
 'x4_bhusawal',
 'x4_bidar',
 'x4_bihar sharif',
 'x4_bilaspur',
 'x4_bokaro',
 'x4_bulandshahr',
 'x4_burhanpur',
 'x4_chandigarhcity',
 'x4_chandrapur',
 'x4_chapra',
 'x4_chennai',
 'x4_chinsurah',
 'x4_coimbatore',
 'x4_cuttack',
 'x4_dehradun',
 'x4_delhicity',
 'x4_deoghar',
 'x4_dhule',
 'x4_dindigul',
 'x4_erode',
 'x4_faridabad',
 'x4_farrukhabad',
 'x4_fatehpur',
 'x4_firozabad',
 'x4_gandhidham',
 'x4_gangtok',
 'x4_gaya',
 'x4_gorakhpur',
 'x4_gudivada',
 'x4_gulbarga',
 'x4_guna',
 'x4_guntakal',
 'x4_guntur',
 'x4_hajipur',
 'x4_hapur',
 'x4_hazaribagh',
 'x4_hindupur',
 'x4_howrah',
 'x4_hyderabad',
 'x4_imphal',
 'x4_indore',
 'x4_jabalpur',
 'x4_jaipur',
 'x4_jalandhar',
 'x4_jalgaon',
 'x4_jamalpur',
 'x4_jammu',
 'x4_jamnagar',
 'x4_jaunpur',
 'x4_jehanabad',
 'x4_jhansi',
 'x4_jorhat',
 'x4_kadapa',
 'x4_kakinada',
 'x4_kalyandombivli',
 'x4_kanpur',
 'x4_karawal nagar',
 'x4_karnal',
 'x4_khammam',
 'x4_khandwa',
 'x4_kochi',
 'x4_kolhapur',
 'x4_kolkata',
 'x4_korba',
 'x4_kottayam',
 'x4_kozhikode',
 'x4_kumbakonam',
 'x4_kurnool',
 'x4_latur',
 'x4_loni',
 'x4_lucknow',
 'x4_ludhiana',
 'x4_machilipatnam',
 'x4_madurai',
 'x4_maheshtala',
 'x4_mangalore',
 'x4_mathura',
 'x4_mau',
 'x4_mirzapur',
 'x4_moradabad',
 'x4_morbi',
 'x4_morena',
 'x4_motihari',
 'x4_mumbai',
 'x4_munger',
 'x4_muzaffarpur',
 'x4_mysore',
 'x4_nadiad',
 'x4_nagaon',
 'x4_naihati',
 'x4_nandyal',
 'x4_navi mumbai',
 'x4_nellore',
 'x4_new delhi',
 'x4_nizamabad',
 'x4_north dumdum',
 'x4_ongole',
 'x4_panchkula',
 'x4_panipat',
 'x4_panvel',
 'x4_patiala',
 'x4_patna',
 'x4_phagwara',
 'x4_proddatur',
 'x4_pune',
 'x4_purnia',
 'x4_raiganj',
 'x4_raipur',
 'x4_rajahmundry',
 'x4_rajpur sonarpur',
 'x4_rampur',
 'x4_ratlam',
 'x4_rewa',
 'x4_rohtak',
 'x4_saharanpur',
 'x4_sambalpur',
 'x4_sambhal',
 'x4_secunderabad',
 'x4_serampore',
 'x4_shimla',
 'x4_shimoga',
 'x4_sikar',
 'x4_silchar',
 'x4_siwan',
 'x4_solapur',
 'x4_sonipat',
 'x4_south dumdum',
 'x4_srikakulam',
 'x4_srinagar',
 'x4_sultan pur majra',
 'x4_surat',
 'x4_surendranagar dudhrej',
 'x4_suryapet',
 'x4_tadepalligudem',
 'x4_tadipatri',
 'x4_tenali',
 'x4_tezpur',
 'x4_thane',
 'x4_thanjavur',
 'x4_thrissur',
 'x4_tinsukia',
 'x4_tiruchirappalli',
 'x4_tirunelveli',
 'x4_tiruppur',
 'x4_tumkur',
 'x4_ujjain',
 'x4_ulhasnagar',
 'x4_varanasi',
 'x4_vasaivirar',
 'x4_vellore',
 'x4_vijayanagaram',
 'x4_vijayawada',
 'x4_visakhapatnam',
 'x4_yamunanagar',
 'x5_andhra pradesh',
 'x5_bihar',
 'x5_chandigarh',
 'x5_chhattisgarh',
 'x5_haryana',
 'x5_himachal pradesh',
 'x5_jammu and kashmir',
 'x5_jharkhand',
 'x5_karnataka',
 'x5_kerala',
 'x5_madhya pradesh',
 'x5_maharashtra',
 'x5_manipur',
 'x5_mizoram',
 'x5_odisha',
 'x5_punjab',
 'x5_sikkim',
 'x5_telangana',
 'x5_tripura',
 'x5_uttar pradesh',
 'income',
 'age',
 'experience',
 'current_job_years',
 'current_house_years']

In [ ]:
###to understand not to run

In [ ]:
def pik_now(ob_name):
    fl_out1 = ob_name
    pickling_on = open(fl_out1,"wb")
    pickle.dump(eval(ob_name), pickling_on)
    pickling_on.close()
    
    return

In [ ]:
list_objs = ["df_all_train2","y_train1","df_all_test2","y_test1"]

for i in list_objs:
     pik_now(i)